@import "assets/styles/variables";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: $aliceBlue;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
